/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-family: var(--font-poppins);
  font-size: 1rem;
  color: var(--white);
}

.logo {
  text-align: center;
}

.logo h2 {
  font-family: var(--font-cormorant);
  font-size: 2rem;
  color: var(--white);
}

.logo h3 {
  color: var(--white);
  font-family: var(--font-satisfy);
  font-weight: 200;
  font-size: 1rem;
}

.footerNavItem {
  width: 8rem;
}

.footerNavItem h3 {
  font-size: 14px;
  color: var(--white);
  opacity: 0.75;
}

.footerNavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 80vw;
  border-bottom: 1px solid rgb(229, 229, 229, 0.35);
}

.footerNavLinks li {
  list-style: none;
  text-align: center;
}

.linkTitle {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.socialMediaIcons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.socialMediaIcons p {
  text-align: center;
}

.socialMediaIcons span {
  background: none;
  padding: 0;
  text-transform: uppercase;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 40rem) {
  .copyright {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer nav {
    width: 100%;
  }

  .footerNavLinks {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
  }

  .footerNavLinks li {
    text-align: left;
  }

  .container {
    width: 100%;
  }
}

@media (min-width: 65rem) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(229, 229, 229, 0.35);
    width: 100%;
  }

  .footer {
    padding: 2rem 6.25rem;
  }

  .footerNavLinks {
    border: none;
    gap: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: end;
    flex-wrap: nowrap;
    padding-bottom: 0;
    width: inherit;
  }

  .logo h2 {
    font-size: 2.5rem;
  }
  .logo {
    text-align: left;
  }
}

@media (min-width: 75rem) {
  .container {
    flex-direction: row;
  }
}
