.highlightArticle {
    grid-area: 2 / 1 / 2 / 2;
}

.highlightArticle picture {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.highlightArticle img {
    width: inherit;
    height: inherit;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

/* Article label */
.highlightArticleLabel {
    background-color: var(--red-accent);
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    border-radius: 1.8rem;
    /* transform: rotate(270deg); */
    padding: 0.3rem 0.94rem;
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 500;
}