.label {
    position: absolute;
    font-weight: normal;
    top: 15px;
    left: 15px;
    font-family: var(--font-poppins);
    background-color: var(--red-accent);
    color: #fff;
    font-size: 12.5px;
    padding: .5px 14px;
    border-radius: 1.8rem;
    display: inline-block;
}