/*--------------------------------------------------------------
# Fun stuff slice
--------------------------------------------------------------*/
.funstuffContainer {
	display: grid;
}

/* Fun stuff article */
.article {
	position: relative;
	margin-bottom: 1.5rem;
}

.article p {
	font-family: "Cormorant", sans-serif;
	font-size: 0.95rem;
	line-height: 1.3rem;
}

.article picture {
	width: 100%;
	height: 15rem;
	margin-bottom: 0.75rem;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 45rem) {
	.funstuffContainer {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
}

@media (min-width: 75rem) {
	.funstuffContainer {
		grid-auto-columns: 1fr;
		grid-template-columns: 0.5fr 1fr 0.5fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 1.5rem;
	}

	.article picture {
		height: 12rem;
	}

	.article:nth-child(2) {
		grid-area: 1 / 2 / 3 / 3;
	}

	.article:nth-child(2) picture {
		height: 30rem;
	}
}