/*--------------------------------------------------------------
# Highlights slice
--------------------------------------------------------------*/
.highlightsArticleWrapper {
	display: grid;
}

.iconsWrapper {
	display: grid;
	gap: 1.5rem;
	grid-template-rows: 1fr 1fr;
}

.iconCard {
	position: relative;
}

.iconCard picture {
	width: 100%;
	margin-right: 1.5rem;
	height: 15rem;
	margin-bottom: 0.75rem;
	overflow: visible;
}

.iconCard span {
	margin-bottom: 0.75rem;
    font-weight: normal;
    font-family: var(--font-poppins);
    background-color: var(--red-accent);
    color: #fff;
    font-size: 12.5px;
    padding: .5px 14px;
    border-radius: 1.8rem;
    display: inline-block;
}

.iconCard p {
	font-family: "Cormorant", sans-serif;
	font-size: 0.95rem;
	line-height: 1.3rem;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 45rem) {
	.highlightsArticleWrapper {
		display: grid;
		grid-template-columns: 1fr 0.65fr;
		gap: 4rem;
	}

	.iconCard picture {
		width: 100%;
		margin-right: 1.5rem;
		height: 12rem;
	}
}

@media (min-width: 75rem) {
	.iconCard span {
		display: inline-block;
		top: 15px;
		left: 15px;
	}

	.iconCard {
		display: flex;
	}

	.iconCard picture {
		height: 15rem;
		width: 17rem;
		margin-bottom: 0;
	}
}

@media (min-width: 81.25rem) {
	.iconCard picture {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}