/*--------------------------------------------------------------
# Nieuw detailpage
--------------------------------------------------------------*/
.nieuwDetail {
    justify-content: center;
    max-width: 65rem;
    margin: 10rem auto 0 auto;
}

.nieuwDetail h3 {
    font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Nieuw article publish information
--------------------------------------------------------------*/
.publishInformation {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    text-transform: capitalize;
    font-size: 0.9rem;
}

/*--------------------------------------------------------------
# Nieuw detailpage article
--------------------------------------------------------------*/
.nieuwDetailArticle picture {
    width: 100%;
    height: 15rem;
}

.nieuwDetail picture {
    width: 100%;
    display: block;
    border: 1px solid var(--border-color);
    border-radius: var(--border-round);
    position: relative;
}

.nieuwDetail img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: var(--border-round);
}

/* Article introduction text */
.introduction {
    font-family: var(--font-cormorant);
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Artice body text */
.nieuwDetailBody {
    font-family: var(--font-poppins);
    line-height: 1.8rem;
    font-size: 0.95rem;
}

/*--------------------------------------------------------------
# Nieuw article seperator line
--------------------------------------------------------------*/
.nieuwDetail hr {
    border: 1px solid var(--border-color);
    margin: 1.5rem 0;
}

/*--------------------------------------------------------------
# Related articles
--------------------------------------------------------------*/
.relatedArticles h4 {
    font-size: 1.1rem;
    font-family: var(--font-poppins);
    margin-bottom: 1.5rem;
}

.relatedArticles article {
    margin-bottom: 1.5rem;
}

.relatedArticles article:hover img {
    transform: scale(1.05);
}

.relatedArticles picture {
    width: 100%;
    display: block;
    height: 10rem;
    margin-bottom: 0.75rem;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.relatedArticles img {
    transition: transform 200ms;
}

.relatedArticles h5 {
    margin-bottom: 0.75rem;
}

.relatedArticles p {
    font-size: 0.95rem;
    font-family: var(--font-cormorant);
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 32rem) {
    .nieuwDetailBody {
        margin: 0 4rem;
        font-size: 1rem;
    }
}

@media (min-width: 45rem) {
    .nieuwDetail h3 {
        font-size: 1.65rem;
    }

    .nieuwDetailBody {
        width: 35rem;
        margin: 0 auto;
    }

    .nieuwDetailArticle picture {
        height: 25rem;
    }

    .relatedArticles div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    .relatedArticles picture {
        height: 12rem;
    }
}

@media (min-width: 62rem) {
    .nieuwDetail {
        margin: 11.5rem auto 0 auto;
    }
}

@media (min-width: 75rem) {
    .nieuwDetailBody {
        width: auto;
        margin: 0 4rem;
    }
}