/*--------------------------------------------------------------
# Global styles
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    /* padding: 1.6rem 6.5rem; */
    padding: 1rem;
}

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
h1 {
    font-family: "Cormorant", sans-serif;
}

h2 {
    font-family: "Satisfy", sans-serif;
}

h3 {
    color: var(--black);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h4 {
    font-family: "Cormorant", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

/*--------------------------------------------------------------
# Span
--------------------------------------------------------------*/
span {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button {
    border: none;
    background: none;
}