/*--------------------------------------------------------------
# Global styles
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Disable body scrolling (mobile menu) */
.disable-scroll {
    overflow: hidden;
}

#__next {
    overflow-x: hidden;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: var(--padding-section);
}

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
h1 {
    font-family: var(--font-cormorant);
}

h2 {
    font-family: var(--font-satisfy);
}

h3 {
  color: var(--black);
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: var(--font-cormorant);
  font-size: 1.1rem;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Span
--------------------------------------------------------------*/
span {
    font-family: var(--font-poppins);
    background-color: var(--red-accent);
    color: #fff;
    font-size: 12.5px;
    padding: .5px 14px;
    border-radius: 1.8rem;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button {
    border: none;
    background: none;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    text-decoration: none;
    color: var(--black);
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ol, ul {
    list-style: none;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 75rem) {
    section {
        padding: 1.6rem 6.5rem;
    }
}
