@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 10rem;
}

.logo {
  text-align: center;
  width: 100vw;
}

.logo h1 {
  font-family: "Cormorant", serif;
  font-size: 3.5rem;
}

.logo h2 {
  color: #d9232d;
  font-family: "Satisfy", cursive;
  font-weight: 200;
  font-size: 1rem;
}

.socialMediaIcons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.container {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.nav ul li:first-child {
  display: flex;
  gap: 0.5rem;
}

.linkContainer {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: default;
  gap: 2rem;
  list-style: none;
  position: relative;
  padding: 1rem 0;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.DropdownTitle {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  cursor: pointer;
}

.dropdownItems {
  display: none;
  list-style: none;
  padding: 0rem 1rem;
  width: 10rem;
  background-color: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 52px;
}

.dropdownItems li {
  padding: 0.5rem 0;
  animation-name: opacity;
  animation-duration: 0.8s;
}

.linkTitle {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}

.searchbar {
  border: 1px solid #e5e5e5;
  height: 1.5rem;
  width: 12rem;
  padding-left: 0.5rem;
  border-radius: 3px;
}

@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 40rem) {
  .logo h1 {
    font-size: 2rem;
  }
  .logo h2 {
    font-size: 1rem;
  }

  .nav ul li:first-child {
    display: none;
  }

  .navItems {
    justify-content: center;
    align-items: center;
  }

  .container nav {
    display: none;
  }

  .searchbar {
    width: 20rem;
  }

  .socialMediaIcons {
    display: none;
  }
}

@media ((min-width: 40rem) and (max-width: 52rem)) {
  .logo h1 {
    font-size: 2.5rem;
  }
  .logo h2 {
    font-size: 1rem;
  }

  .container nav {
    display: none;
  }

  .searchbar {
    width: 18rem;
  }
}
