/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    --black: #121212;
    --red-accent: #D9232D;
    --white: #FFFFFF;
    --border-color: #E5E5E5;
    --border-round: 10px;
    --padding-section: 1rem;
}