.dropdown {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.9rem;
}

.dropdownAnimation {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  animation: animationDropdown 0.5s;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

.dropdownAnimation li {
  margin-bottom: 0.75rem;
}

.dropdownAnimation li:last-child {
  margin-bottom: 0;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(-250px);
  }

  to {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes animationDropdown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 100;
    transform: translateY(0px);
  }
}