/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# Header logo text
--------------------------------------------------------------*/
.headerLogo {
    text-align: center;
}

/* Logo title */
.headerLogo h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* Logo subtitle */
.headerLogo h2 {
    font-size: 1.1rem;
    color: var(--red-accent);
    font-weight: normal;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Header items
--------------------------------------------------------------*/
.headerItems {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------------------------------------------------------------
# Header searchbar (desktop)
--------------------------------------------------------------*/
.headerItems form:nth-child(3) {
    display: none;
}