/*--------------------------------------------------------------
# Header nav menu
--------------------------------------------------------------*/
.nav {
    display: none;
}

.nav ul {
    display: flex;
    font-family: "Poppins", sans-serif;
}

.navItems {
    align-items: center;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 62rem) {
    .nav {
        display: flex;
    }

    .navItems {
        position: relative;
    }

    .navMenuItem {
        margin-right: 2rem;
    }
}