/*--------------------------------------------------------------
# Searchbar
--------------------------------------------------------------*/
.searchBar { 
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.searchBar input {
    width: inherit;
    border: 1px solid var(--border-color);
    padding: 0.4rem;
    border-radius: 3px;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 62rem) {
    .searchBar {
        margin-bottom: 0;
    }
}

@media (min-width: 75rem) {
    .searchBar { 
        width: 18rem;
    }
}