.container {

}

.container span {
  /* width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1rem; */
}

.hamburgerNav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  top: 80px;
  right: 0;
  position: absolute;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  z-index: 20;
  list-style: none;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0;
}

.linkTitle {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.home {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.linkTitle button {
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.linkTitle li {
  list-style: none;
}

.dropdown {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.8rem;
}

.socialMediaIcons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.mobileNav {
  display: none;
}

.button {
  background-color: var(--green);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}
@media (max-width: 40rem) {
  .container {
    display: flex;
    align-self: end;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .SocialMediaIconsDropdown {
    display: flex;
  }

  .linkTitle {
    margin-bottom: 1.5rem;
  }
}

@media ((min-width: 40rem) and (max-width: 52rem)) {
  .container {
    display: flex;
    align-self: end;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .SocialMediaIconsDropdown {
    display: none;
  }

  .linkTitle {
    margin-bottom: 1.5rem;
  }
}
.animation {
  animation: animation 1s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
  top: 80px;
  right: 0;
  position: absolute;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0;
}

.dropdownAnimation {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.8rem;
  animation: animationDropdown 0.5s;
}
@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(-250px);
  }

  to {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes animationDropdown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 100;
    transform: translateY(0px);
  }
}
